[Desktop Entry]
Name=tu2 - PMS
Comment=Simple Project Management System
Exec=tu2 %F
Icon=preferences-system-time
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Office;
Keywords=PMS;
