[Desktop Entry]
Name=tu2 PMS
GenericName=Project Management System
Comment=Project Management System
Exec=tu2 %F
Icon=default
Terminal=false
Type=Application
StartupNotify=false
Categories=
MimeType=
